<form name="myForm">
	<div class="control-group">
		<label>Name</label>
		<input type="text" name="text" ng-model="todoText">
	</div>
	<div class="control-group">
		<label >Details</label>
		<textarea name="description" ng-model="todoDetails"></textarea>
		<div class="control-group">
			<label>Date/Time</label>
		  <input type="datetime-local"/ name="Date" ng-model="todoDate">
		</div>

	</div>
	<br>
	<a href="#/" class="btn btn-primary">Cancel</a>
	<button ng-click="save()" class="btn btn-dark">Save</button>
	
	
	
</form>